@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    overflow-x: hidden;
}


html, body {
    height: 100vh;
    width: 100vw;
}
.main {
    height: 100vh;
    background-image: url("images/mainBG.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}
.main .box {
    width: 100vw;
    height: 100vh;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}
nav {
    max-width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;    
}
nav img {
    color: red;
    width: 170px;
    height: 140px;
    position: relative;
    z-index: 10;
}
nav .item {
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    
}
.lang {
    width: 120px;
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 3px;  
    font-family: sans-serif;  
    font-weight: 600;
    border: 1px solid white;
    padding-top: 5px ;
    cursor: pointer;
}
#Signin {
    width: 80px;
    background-color: red;
    border-radius: 5px;  
    font-family: sans-serif;  
    font-weight: normal;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.hero {
    font-family: "Martel Sans", sans-serif;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    padding: 0 20px;
    gap: 15px;
}
.hero> :first-child {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
}
.hero>:nth-child(2) {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}
.hero>:nth-child(3) {
    text-align: center;
    font-weight: lighter; 
    font-size: 18px;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero input{
    opacity: 0.5;
    height: 37px;
    width: 350px;
    border-radius: 5px;
    background-color: rgba(46, 67, 124, 0.586);
    padding: 0px 10px 10px 10px;
}

.Started{
    width: 180px;
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 9px;
    background-color: rgb(62, 62, 62);
}
.first-wrapper{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    width: 75vw;
    margin: auto;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 40vw;
    position: relative;
    z-index:10;
}
.secimg video{
    position: absolute;
    top: 70px;
    right: 70px;
}
.first> div {
    display: flex;
    flex-direction: column;
}
 .first > div :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 44px;
}
 .first > div :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
}


.second> div {
    display: flex;
    flex-direction: column;
}
.second{
    width: 75vw;
    margin: auto;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second > div :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 44px;
}
 .second > div :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
}


.third> div {
    display: flex;
    flex-direction: column;
}
.third{
    width: 75vw;
    margin: auto;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third > div :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 44px;
}
 .third > div :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
}

.thdimg{
    position: relative;
}
.thdimg img{
    width: 40vw;
    position: relative;
    z-index:10;
}
.thdimg video{
    position: absolute;
    top: 30px;
    right: 20px;
    object-fit: cover; 
    clip-path: inset(0 20% 0 0); /* Clip 20% from the right */
}

.fourth> div {
    display: flex;
    flex-direction: column;
}
.fourth{
    width: 75vw;
    margin: auto;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth > div :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 44px;
}
 .fourth > div :nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
}

.faq span{
    font-size: 45px;
    font-weight: 900;
}
.faq{
    width: 100%;
    height: 130vh;
    background-color: black;
    font-family: sans-serif ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.faqbox{
    width: 75vw;
    height: 45px;
    padding: 20px;
    display: flex;
    background-color: rgb(46, 45, 45);
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    cursor: pointer;
}
.faqbox:hover{
    background-color: rgb(77, 76, 76);
}

.ready{
    margin: 50px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ready h3{
    font-weight: lighter;
    font-size: 20px;
}
.ready input{
    opacity: 0.5;
    height: 37px;
    width: 350px;
    border-radius: 5px;
    background-color: rgba(46, 67, 124, 0.586);
    padding: 0px 10px 10px 10px;
}

.lastpage{
    background-color: black;
}
footer{
    color: #ffffffb3;
    background-color: black;
    font-family: sans-serif;
    font-weight: lighter;
    max-width: 80vw;
    height: 55vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.last{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
}
.last-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: 400;
    font-size: 14px;
}
.last-item a{
    color: #ffffffb3; 
} 